body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: rgb(116, 19, 19);
}

input {
  font-size: 25px;
  border-radius: 10px;
  width: 30%;
  color: rgb(116, 19, 19);
  border-color: rgb(116, 19, 19);
}
button {
  font-size: 25px;
  border-radius: 10px;
  background-color: rgb(116, 19, 19);
  margin: 0;
  color: beige;
  border-style: none;
}
ul {
  padding: 0;
}
ul li {
  display: flex;
  justify-content: space-between;
  background-color: rgb(224, 224, 193);
  cursor: pointer;
  padding: 7px 30px;
  border-radius: 15px;
  width: 70%;
  margin: 7px auto;
  list-style-type: none;
}
ul li:hover {
  background-color: rgb(228, 228, 228);
}

ul li:nth-child(even) {
  background-color: rgb(235, 235, 180);
}
ul li.checked {
  background-color: rgb(155, 149, 149);
  text-decoration: line-through;
}

#container {
  text-align: center;
  width: 80%;
  margin: 40px auto 0 auto;
  background-color: beige;
  padding: 5px 0 100px 0;
  border-radius: 10px;
}
::placeholder {
  color: rgb(116, 19, 19);
}
@media screen and (max-width: 960px) {
  body {
    font-size: 18px;
  }
  #container {
    width: 92%;
  }
  input {
    font-size: 18px;
    width: 40%;
  }
  button {
    font-size: 18px;
  }
  ul li {
    padding: 7px 20px;
    width: 85%;
  }
}
@media screen and (max-width: 576px) {
  input {
   width: 50px;
  }
  ul li {
    padding: 7px 10px;
  }
}
